.date {
  width: 150px;
  cursor: pointer;
}

table {
  font-family: arial, sans-serif;
  border-collapse: separate; /* Включаем разделение границ */
  border-spacing: 0 10px;
  width: 100%;
}

td,
th {
  /* border: 1px solid #dddddd; */
  text-align: left;
  padding: 10px 0;
  width: 300px;
  cursor: pointer;
}

select {
  width: 90%;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

select:focus {
  outline: none;
  border: none;
}

option {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.table-btn {
  width: 150px;
  height: 30px;
  background-color: green;
  color: white;
  cursor: pointer;
  margin-left: 30px;
}
