input[type="checkbox"].switch_1 {
  font-size: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 38px;
  height: 21px;
  border-radius: 3em;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 2px solid #868889;
}

input[type="checkbox"].switch_1:checked {
  background: #36cbff;
  border: 2px solid #36cbff;
}

input[type="checkbox"].switch_1:after {
  position: absolute;
  content: "";
  width: 32px;
  height: 33px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid #868889;
  transform: scale(0.6);
  left: -8px;
  top: -8px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input[type="checkbox"].switch_1:checked:after {
  left: calc(100% - 25px);
  background: #fff;
  border: 2px solid #fff;
  top: -8px;
}
